/* Tailwind CSSの読み込み */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* グローバルスタイル */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #f2f5f3;
}

/* スクロールバーを隠すユーティリティ */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}
